# Draft analysis 

---

Group name: Antonino Piloro

---

## Introduction

*This section includes an introduction to the project motivation, data, and research question. Include a data dictionary*

## Setup

In [2]:
import pandas as pd

## Data

## Import data

In [19]:
appearances = pd.read_csv("../data/raw/536/appearances.csv")
player_valuations = pd.read_csv("../data/raw/536/player_valuations.csv")
transfers = pd.read_csv("../data/raw/536/transfers.csv")
players = pd.read_csv("../data/raw/536/players.csv")

### Data structure

In [29]:
print("Appearances columns: \n", appearances.columns)
print("\n Player Valuations columns: \n", player_valuations.columns)
print("\n Transfers columns: \n", transfers.columns)
print("\n Players columns: \n", players.columns)

Appearances columns:
 Index(['appearance_id', 'game_id', 'player_id', 'player_club_id',
       'player_current_club_id', 'date', 'player_name', 'competition_id',
       'yellow_cards', 'red_cards', 'goals', 'assists', 'minutes_played'],
      dtype='object')

 Player Valuations columns:
 Index(['player_id', 'date', 'market_value_in_eur', 'current_club_id',
       'player_club_domestic_competition_id'],
      dtype='object')

 Transfers columns:
 Index(['player_id', 'transfer_date', 'transfer_season', 'from_club_id',
       'to_club_id', 'from_club_name', 'to_club_name', 'transfer_fee',
       'market_value_in_eur', 'player_name'],
      dtype='object')

 Players columns:
 Index(['player_id', 'first_name', 'last_name', 'name', 'last_season',
       'current_club_id', 'player_code', 'country_of_birth', 'city_of_birth',
       'country_of_citizenship', 'date_of_birth', 'sub_position', 'position',
       'foot', 'height_in_cm', 'contract_expiration_date', 'agent_name',
       'image_url', 'url', 'current_club_domestic_competition_id',
       'current_club_name', 'market_value_in_eur',
       'highest_market_value_in_eur'],
      dtype='object')

#### Appearances DataFrame
 **Beschreibung:** Diese Tabelle enthält historische Daten über die Leistungen eines Spielers in einzelnen Spielen.
 **Wichtige Spalten:**
 - `player_id`: Eindeutige Spieler-ID.
 - `date`: Datum des Spiels.
 - `player_name`: Name des Spielers.
 - `competition_id`: ID des Wettbewerbs.
 - `yellow_cards`, `red_cards`: Anzahl gelber und roter Karten.
 - `goals`, `assists`: Tore und Vorlagen im Spiel.
 - `minutes_played`: Anzahl der gespielten Minuten.

In [30]:
appearances.head(2)

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90

#### Player Valuations DataFrame
 **Beschreibung:** Diese Tabelle zeigt die Marktwertentwicklungen der Spieler über die Zeit.
 **Wichtige Spalten:**
 - `player_id`: Eindeutige Spieler-ID.
 - `date`: Datum der Marktwertermittlung.
 - `market_value_in_eur`: Marktwert in Euro.
 - `current_club_id`: ID des aktuellen Clubs.
 - `player_club_domestic_competition_id`: ID des nationalen Wettbewerbs des aktuellen Clubs.

In [31]:
player_valuations.head(2)

,player_id,date,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,405973,2000-01-20,150000,3057,BE1
1,342216,2001-07-20,100000,1241,SC1

#### Transfers DataFrame
 **Beschreibung:** Diese Tabelle enthält Informationen zu Spielertransfers zwischen Clubs.
 **Wichtige Spalten:**
 - `player_id`: Eindeutige Spieler-ID.
 - `transfer_date`: Datum des Transfers.
 - `transfer_season`: Saison des Transfers.
 - `from_club_id`, `to_club_id`: IDs des abgebenden und aufnehmenden Clubs.
 - `from_club_name`, `to_club_name`: Namen der Clubs.
 - `transfer_fee`: Transfergebühr in Euro.
 - `market_value_in_eur`: Marktwert des Spielers zum Zeitpunkt des Transfers.

In [45]:
transfers.head(2)

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
0,195778,2026-06-30,25/26,79,27,VfB Stuttgart,Bayern Munich,0.0,12000000.0,Alexander Nübel
1,569033,2026-06-30,25/26,39,27,1.FSV Mainz 05,Bayern Munich,0.0,4000000.0,Armindo Sieb

#### Players DataFrame
 **Beschreibung:** Diese Tabelle enthält Basisinformationen zu Spielern.
 **Wichtige Spalten:**
 - `player_id`: Eindeutige Spieler-ID.
 - `name`, `first_name`, `last_name`: Name des Spielers.
 - `country_of_birth`, `country_of_citizenship`: Geburtsland und Staatsangehörigkeit.
 - `foot`: Bevorzugter Fuß (rechts/links).
 - `height_in_cm`: Körpergröße in cm.
 - `contract_expiration_date`: Vertragslaufzeitende.
 - `current_club_name`: Name des aktuellen Clubs.
 - `market_value_in_eur`: Aktueller Marktwert in Euro.
 - `highest_market_value_in_eur`: Höchster Marktwert in Euro.

In [43]:
players.head(2)

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0

### Data corrections

#### Aggregierte Appearances DataFrame
- **Beschreibung:** Diese Tabelle fasst die Leistungen eines Spielers über alle Spiele zusammen.
- **Aggregierte Spalten:**
  - `minutes_played`: Gesamte Spielminuten.
  - `goals`, `assists`: Gesamte Tore und Vorlagen.
  - `yellow_cards`, `red_cards`: Summe der gelben und roten Karten.

In [ ]:
appearances_agg = appearances.groupby('player_id').agg({
    'minutes_played': 'sum',  # Gesamtminuten
    'goals': 'sum',           # Gesamttore
    'assists': 'sum',         # Gesamtvorlagen
    'yellow_cards': 'sum',    # Gelbe Karten
    'red_cards': 'sum'        # Rote Karten
}).reset_index()

appearances_agg.head()

   player_id  minutes_played  goals  assists  yellow_cards  red_cards
0         10            8808     48       25            19          0
1         26           13508      0        0             4          2
2         65            8788     38       13            11          1
3         77             307      0        0             0          0
4         80            1080      0        0             0          0

#### Fehldende Werte raussuchen

In [39]:
print("Fehlende Werte in appearances:")
print(appearances.isnull().sum())

Fehlende Werte in appearances:
appearance_id             0
game_id                   0
player_id                 0
player_club_id            0
player_current_club_id    0
date                      0
player_name               6
competition_id            0
yellow_cards              0
red_cards                 0
goals                     0
assists                   0
minutes_played            0
dtype: int64

In [40]:
print("Fehlende Werte in player_valuations:")
print(player_valuations.isnull().sum())

Fehlende Werte in player_valuations:
player_id                              0
date                                   0
market_value_in_eur                    0
current_club_id                        0
player_club_domestic_competition_id    0
dtype: int64

In [41]:
print("Fehlende Werte in transfers:")
print(transfers.isnull().sum())

Fehlende Werte in transfers:
player_id                  0
transfer_date              0
transfer_season            0
from_club_id               0
to_club_id                 0
from_club_name             0
to_club_name               0
transfer_fee           27262
market_value_in_eur    29783
player_name                0
dtype: int64

In [42]:
print("Fehlende Werte in players:")
print(players.isnull().sum())

Fehlende Werte in players:
player_id                                   0
first_name                               2060
last_name                                   0
name                                        0
last_season                                 0
current_club_id                             0
player_code                                 0
country_of_birth                         2804
city_of_birth                            2464
country_of_citizenship                    380
date_of_birth                              47
sub_position                              183
position                                    0
foot                                     2568
height_in_cm                             2303
contract_expiration_date                12111
agent_name                              15986
image_url                                   0
url                                         0
current_club_domestic_competition_id        0
current_club_name                           0
market_value_in_eur                      1526
highest_market_value_in_eur              1526
dtype: int64

### Variable lists

In [50]:
combined_data = player_valuations.merge(players, on='player_id', how='inner')
#combined_data = combined_data.merge(appearances_agg, on='player_id', how='inner')

In [51]:
combined_data

,player_id,date,market_value_in_eur_x,current_club_id_x,player_club_domestic_competition_id,first_name,last_name,name,last_season,current_club_id_y,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur_y,highest_market_value_in_eur
0,405973,2000-01-20,150000,3057,BE1,Fadel,Gobitaka,Fadel Gobitaka,2017,3057,...,NaN,181.0,2023-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/fadel-gobitaka...,BE1,Royal Standard Club de Liège,50000.0,250000.0
1,342216,2001-07-20,100000,1241,SC1,Julien,Serrano,Julien Serrano,2020,1241,...,left,181.0,NaN,Wasserman,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/julien-serrano...,SC1,Livingston FC,250000.0,2000000.0
2,3132,2003-12-09,400000,126,TR1,Florin,Cernat,Florin Cernat,2013,126,...,left,168.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/florin-cernat/...,TR1,Çaykur Rizespor Kulübü,100000.0,2800000.0
3,6893,2003-12-15,900000,984,GB1,Gabriel,Tamas,Gabriel Tamas,2012,984,...,right,188.0,2023-06-30 00:00:00,Elite Soccer Sarl,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/gabriel-tamas/...,GB1,West Bromwich Albion,100000.0,4000000.0
4,10,2004-10-04,7000000,398,IT1,Miroslav,Klose,Miroslav Klose,2015,398,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489913,1036407,2024-12-12,500000,1083,RU1,Eyad,El Askalany,Eyad El Askalany,2024,1083,...,left,179.0,2028-12-31 00:00:00,SPOCS Global Sports,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/eyad-el-askala...,RU1,FK Rostov,500000.0,500000.0
489914,1037971,2024-12-12,250000,71985,RU1,Dmitriy,Pestryakov,Dmitriy Pestryakov,2024,71985,...,right,176.0,2026-12-31 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dmitriy-pestry...,RU1,Akron Togliatti,250000.0,250000.0
489915,1051589,2024-12-12,100000,2698,RU1,Kasra,Taheri,Kasra Taheri,2024,2698,...,NaN,185.0,2026-12-31 00:00:00,T & I,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/kasra-taheri/p...,RU1,FC Rubin Kazan,100000.0,100000.0
489916,1113068,2024-12-12,100000,1124,RU1,Luka,Bagatelia,Luka Bagatelia,2024,1124,...,right,183.0,2026-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/luka-bagatelia...,RU1,FK Fakel Voronezh,100000.0,100000.0
489917,1160366,2024-12-12,200000,71985,RU1,Arseniy,Dmitriev,Arseniy Dmitriev,2024,71985,...,left,172.0,2025-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/arseniy-dmitri...,RU1,Akron Togliatti,200000.0,200000.0

### Data splitting

## Analysis

### Descriptive statistics

### Exploratory data analysis

### Relationships

## Model

### Select model

### Training and validation

### Fit model

### Evaluation on test set

### Save model


Save your model in the folder `models/`. Use a meaningful name and a timestamp.

## Conclusions